*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
}
.form-container {
  width: 30%;
  background-color: chartreuse;
  border-radius: 5px;
  box-shadow: 3px 4px 5px gray;
}
form {
  display: flex;
  flex-direction: column;
  padding: 70px 30px;
}
form h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 30px;
  font-size: 3rem;
  text-transform: uppercase;
  user-select: none;
}
form #username,
#password {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 20px;
  text-transform: capitalize;
  outline: 0;
  border: 0;
}
.user-control {
  display: flex;
  justify-content: space-between;
  font-size: 1.15rem;
  text-transform: capitalize;
  padding: 1rem 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.user-control a {
  text-decoration: none;
  color: black;
}
form #submit {
  padding: 10px;
  margin-top: 10px;
  text-transform: capitalize;
  font-size: 1rem;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  cursor: pointer;
}
form #submit:hover {
  border-color: black;
}
