* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.wrapper {
  margin: 20px 0;
}
.container {
  width: 100%;
  max-width: 1080px;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accordion-container {
  width: 100%;
  margin: 0 auto;
  box-shadow: 1px 2px 3px 0px blueviolet;
}
.question-box,
.answer-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.question-box {
  background-color: aqua;
  cursor: pointer;
  border-bottom: 1px solid gray;
  transition: all 0.3s ease-in-out;
}
.active,
.question-box:hover {
  background-color: rgb(8, 214, 214);
}
.question-box i {
  padding-left: 10%;
}
.answer-box {
  box-shadow: 1px 2px 3px 0px blueviolet;
  overflow: hidden;
  display: none;
  /* to make animation */
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
}

/* to make toggle icon */
.question-box:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
